.viewport-section {
  display: flex;
  justify-content: center;
  padding: 80px 20px;
  /* background: #f4f4f4; */
}

.viewport-window {
  width: 400px;
  border: 4px solid #1f1f1f;
  border-radius: 30px;
  overflow: hidden;
  background: #f5f5f5;
}

.window-header {
  /* height: 70px; */
  border-bottom: 3px solid #1f1f1f;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 25px;
}

.title {
  font-size: 10px;
  font-weight: 700;
}

.fps-box {
  background: #f4b81c;
  padding: 8px 18px;
  border-radius: 8px;
  font-weight: bold;
  font-size:10px;
}

.viewport-body {
  height: 260px;
  border-bottom: 3px solid #1f1f1f;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  perspective: 1000px;
}

.cube-container {
  perspective: 1000px;
}

.cube {
  width: 140px;
  height: 140px;
  position: relative;
  transform-style: preserve-3d;
  
}

.cube:hover {
  animation-duration: 2s;
}

.face {
  position: absolute;
  width: 140px;
  height: 140px;
  background: #f7e5ba;
  border: 2px solid #ff6b57;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.front {
  transform: translateZ(70px);
}

.back {
  transform: rotateY(180deg) translateZ(70px);
}

.right {
  transform: rotateY(90deg) translateZ(70px);
}

.left {
  transform: rotateY(-90deg) translateZ(70px);
}

.top {
  transform: rotateX(90deg) translateZ(70px);
}

.bottom {
  transform: rotateX(-90deg) translateZ(70px);
}

@keyframes rotateCube {
  from {
    transform: rotateX(-20deg) rotateY(0deg);
  }

  to {
    transform: rotateX(-20deg) rotateY(360deg);
  }
}

.hover-text {
  margin-top: 70px;
  color: #8b8b8b;
  font-size: 24px;
  font-weight: 700;
}


/* .bottom-panel {
  padding: 25px;
} */
.timer-row {
  display: flex;
  align-items: center;
  gap: 20px;
}

.pause-btn {
    width: 46px;
    height: 55px;
    border-radius: 50%;
    border: none;
    background: black;
    color: white;
    font-size: 13px;
    cursor: pointer;
}

.slider {
  width: 100%;
  margin-top: 20px;
  cursor: pointer;
}